.content {
    height: 100%;
    display: flex;
}

.modal {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
